<plugin name='gorm-couchdb-elasticsearch' version='0.4' grailsVersion='1.3.6 &gt; *'>
  <author>Cory Hacking</author>
  <title>Grails CouchDB ElasticSearch Plugin</title>
  <description>Integrates CouchDB with ElasticSearch, indexing domain instances using the Couchdb _change feed.</description>
  <documentation>http://grails.org/plugin/gorm-couchdb-elasticsearch</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>DefaultCouchdbElasticSearch</resource>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies>
    <plugin name='gormCouchdb' version='0.9.0 &gt; *' />
  </dependencies>
  <behavior>
    <method name='getDocument' artefact='CouchDomain' type='org.elasticsearch.search.internal.InternalSearchHit'>
      <description />
    </method>
    <property name='document' type='org.elasticsearch.search.internal.InternalSearchHit' artefact='CouchDomain'>
      <description />
    </property>
  </behavior>
</plugin>